.class1{
    color: blue;
    font-size: x-large;
    font-style: italic;
}
.class2{
    color: wheat;
}
div{
    background-color: bisque;
}

table{
    background-color:cornflowerblue;
}

.div-green{
background-color: green;
}
/*Combinators*/
.div-green p{
    color: lightblue;
}

.div-green > .class2{
    color: yellow;
} /*This overpowers .class2 class selector*/


#Para3{
    font-size: xx-large;
    color: red;
}
#div1{
    background-color: lightcoral;
}

*{
    color: coral;
}
input[type="text"]{
    color: indianred;
}
input[type="email"]{
    color:violet;
}

h1,h2,h3,h4{
    color: olive;
}

h5{
    color: peru;
}

a:hover{
    background-color: tomato;
    color: yellowgreen;
    font-size: xx-large;
}

p::first-letter{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bolder;
}