@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&family=Lobster&family=Manrope:wght@800&family=Oswald:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bodoni+Moda:opsz@6..96&family=Hedvig+Letters+Sans&family=Lobster&family=Manrope:wght@800&family=Oswald:wght@200&family=Poppins:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Bodoni+Moda:opsz@6..96&family=Hedvig+Letters+Sans&family=Lobster&family=Manrope:wght@800&family=Oswald:wght@200&family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins';
    font-size: 18px ;
    background-color: #cfe4cc;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #3d1f08;
    font-family:'Amatic SC';
    font-size: 60px;
}

h2 {
    color: #3d1f08;
    font-family:'Poppins';
    font-size: 20px; 
}

p {
    color: #2e0e0e;
}

#dice-chooser {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input {
    width: 45px;
    padding: 5px;
    font-size: 12px;
}

button {
    background-color: #c08f39;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #9dc6d1;
}

#dice-result {
    font-weight: bold;
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}
