* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    font-size: large;
    color: #07084b;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    font-family: "Poppins", Arial;
    font-weight: 100;
    background-color: #0f1221;
    color: #fff;
    padding: 20px 1;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 1px;
    font-size: 2.5rem;
    line-height: 110px;
    text-align: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius:50%;
}

.contact-info {
    text-align: center;
}

.contact-info a {
    color: #fff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
    color: rgb(161, 247, 229);
    text-decoration:underline plum;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: "Poppins";
    font-weight: 600;
    margin-bottom: 10px;
}


.work-experience .experience {
    margin-bottom: 20px;
}

.work-experience h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    background-color: #07084b;
    color: rgb(255, 255, 255);
}

.work-experience ul {
    margin-left: 20px;
    font-weight: lighter;
}

.work-experience li {
    margin-bottom: 5px;
    font-weight: bold;
}

.skills ul {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.skills li {
    background-color: #099cba;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.education-item h3 {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.footer {
    background-color: #15162d;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .profile h1 {
        font-size: 2rem;
    }

    .main-container {
        padding: 15px; 
        gap: 20px; 
    }

    .profile-picture {
        width: 120px;
        height: 120px;
    }

    .skills li {
        flex-basis: 100%; 
    }

    .contact-info {
        text-align: center;
    }
}

