/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */
article {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid black;
}

.style-me1 {
    color: red ;
}

#style-me2 {
    color: blue;
}

.style-me1#style-me2{
    color: purple;
}


/* Put styles for questions 2.1 and 2.2 here */
.my-descendants-are-styled p {
    background: red;
}

.my-children-are-styled > p {
    background: lightgreen;

}

/* II. Box model and common properties */
/* Put styles for questions 1-8 here */
.box{

    border: skyblue 10px dashed;
    background-color: salmon;
    margin: 4px 2px 1px;
    padding: 8px 4px 4px;
    /* width: 19vw !important; */
    overflow: hidden;
    width: 100px;
    height: 80px;
    outline: solid 10px;
    border-radius: 50% 50%;
    background-image: url("img1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}  
/* III. Positioning */
/* Put styles for questions 1-3 here */
.position-absolute {
    position: absolute;
    top: 0px;
    left: 400px; right:90;
    /*bottom: 0;*/
    background-color: khaki;
}

.position-relative {
background-color: darkseagreen;
}

.position-sticky {
    position: sticky; top: 50px;
    background-color: coral;
}
/* IV. Styling text */
/* Put styles for questions 1-10 here */
.text-style{
    color: darkslateblue;
    font-size: small;
    line-height: 90px;
    font-weight: lighter;
    font-weight: 900;
    font-family: 'Playfair Display', sans-serif;
    text-align: center ;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-transform: uppercase;
    text-decoration: dotted;
}


/* V. Styling links */
/* Put styles for questions 1-3 here */
a,a:link{
    color: yellowgreen ;
    font-size: x-large;
    font-weight: 300;
    text-decoration:solid;
}
a:hover{
    color: rgb(68, 94, 15);
    text-decoration:underline overline plum;
}

a:active{
    color: rgb(16, 109, 111);
    text-decoration: overline dotted rgb(160, 163, 221);
}

a:focus{
    color: rgb(192, 127, 5);
    text-decoration:underline overline dotted rgb(122, 194, 228);
}

a:visited{
    color: mediumvioletred;
    font-style: italic;
}

/* VI. calc() */
/* Put styles for questions 1-3 here */
.calc-style{
    width: 100vw ;
    background-color: palevioletred;
    width: calc(100vw - 100px);
}
.fixed-width-col{
    width: 350px;
    display: inline-block;
}
.fluid-col{
    display: inline-block;
    width: calc(100vw - 450px);
}
